
/*
** HTML elements
*/
body {
  background: #e4e4e4 url(images/background.gif) repeat-x top left;
	margin: 0px; 
	padding: 0px;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 12px;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
/*  Headers  */
h1 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
	color: #D96B11;
	background-color: transparent;
	font-size: 1.6em;
	font-weight: bold;
}

h2 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
	color: #333;
	background-color: transparent;
	font-size: 1.5em;
	font-weight: bold;
}

h3 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
	color: #76b7d7;
	background-color: transparent;
	font-size: 1.4em;
	font-weight: bold;
}

h4 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
	color: #333;
	background-color: transparent;
	font-size: 1.3em;
	font-weight: bold;
}

h5 {
	color: #9ad5f3;
	background-color: transparent;
	padding: 0px;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
}

h6 {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	color: #D96B11;
	font-size: 1.1em;
	font-weight: normal;
	line-height: 150%;
}

/* HTML Tags */

pre {
  display: block;
	margin: 5px;
	padding: 5px;
	color: #ad4c21;
	border: 1px dashed;
	background: #f0ebe7;
	font-family: Courier, 'Courier New', 'Andale Mono', Monaco, monospace;
}

a {
  color: #AD4C21;
	text-decoration: none;
	padding-bottom: 0px;
}

p a {
  border-bottom: 1px dashed;
}

a:hover {
	color: #000;
}

hr {
  border: 0px;
  border-bottom: 1px #F0EBE7 dashed;
	height: 1px;
  margin: 5px 15px 5px 15px;
}

#left hr, #all hr {
  margin: 10px 0px;
}

form {
  margin: 0px;
	padding: 0px;
}

/*
.form-item {
  clear: left;
	border-top: 1px solid #EEE;
	margin: 3px;
}

.form-item .label {
  float: left;
	clear: left;
	width: 150px;
}
*/
input, textarea, select {
  color: #AD4C21;
	border: 1px solid;
	background: #F0EBE7;
	margin: 3px;
	padding: 2px;
}

blockquote {
	margin: 5px;
  background: transparent url(images/quotes.gif) left top no-repeat;
	padding-left: 37px;
}

blockquote[cite]:after {
	content: "Quote from: " attr(cite);
	display: block;
	border-top: 1px solid #999;
	color: #999;
	margin: 1em 0 0;
	padding: .5em 0 0;
	font-size: .8em;
	font-weight: bold;
}

del {
  color: #800;
	text-decoration: line-through;
}

dt {
  font-weight: bold;
	font-size: 1.05em;
	color: #ad4c21;
}

dd {
  margin-left: 15px;
}

/* adds a space and then a graphic after any external (i.e. off-site) links */
p a[target]:after {
	content: " " url(images/externalpage.gif);
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
fieldset {
  border: 1px solid #ccc;
}
/*
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
*/
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0em;
}
.comment .links {
  margin-bottom: 0em;
}

/*
** Page layout blocks / IDs
*/
#head {
  background: #e4e4e4 url(images/head_empty.gif) no-repeat top left;
	width: 747px;
	height: 117px;
	padding: 0px;
	margin: 0 auto;
}

#head #site-name {
	float: left;
 	font-size: 30px;
	color: #F0EBE7;
	padding: 35px 0px 0px 30px;
  width: 700px; 
}

#content {
  width: 100%;
}

/* Navigation */

#menu {
  float: right;
	margin: 7px 20px 0px 0px;
  line-height: normal;
}

* html #menu {
  margin-right: 10px;
}

#menu ul {
	margin: 0;
	padding: 0;
	white-space : nowrap;
  list-style: none;
}

#menu ul li {
	margin: 0;
	padding: 0;
	float:left;
	text-align: center; 
  background: url(images/menu-right.gif) no-repeat top right;
}

#menu ul li.active {
  background: url(images/menu-right2.gif) no-repeat top right;
}

#menu ul li a {
	color : #fff;
	background-color: transparent;
	text-decoration : none;
	font-weight: bold;
	display: block;
	border-style:none;
}

#menu ul li a:link, #menu ul li a:visited {
	background-image: url(images/menu-left.gif); 
	background-repeat: no-repeat; 
	line-height: 26px;
	padding: 7px 5px 0 10px;
  margin-right: 5px;
}

#menu ul li a:hover, #menu ul li a.active {
  color: #B05128;
}

#menu ul li a.active {
	background-image: url(images/menu-left.gif);
	background-repeat: no-repeat;
	background-position: 0px -66px;
	line-height: 29px;
	padding-top: 4px;
}

#secondary {
  padding: 0 1em 0.5em 0;
  font-size: 0.8em;
  float: right;
}
#secondary a {
  font-weight: bold;
}

/* basic tab navigation */

ul.primary {
  width: 96%;
  float: left;
  border-bottom: 1px solid #F0EAE5;
}

ul.primary li {
	float:left;
	text-align: center; 
  background: url(images/menu-right.gif) no-repeat top right;
  border: none
	margin: 0;
	padding: 0;
}

ul.primary li.active {
  background: url(images/menu-right2.gif) no-repeat top right;
}

ul.primary li a.active {
  border: none;
}
ul.primary li a {
	color : #fff;
	background-color: transparent;
	text-decoration : none;
	font-weight: bold;
	display: block;
	border-style:none;
}

ul.primary li a:link, ul.primary li a:visited {
	background-image: url(images/menu-left.gif); 
	background-repeat: no-repeat; 
	line-height: 26px;
	padding: 7px 5px 0 10px;
  margin-right: 5px;
}

ul.primary li a:hover, ul.primary li a.active {
  color: #B05128;
  background-color: transparent;
}

ul.primary li a.active {
	background-image: url(images/menu-left.gif);
	background-repeat: no-repeat;
	background-position: 0px -66px;
	line-height: 29px;
	padding-top: 4px;
}


#subhead {
  width: 680px;
}

#subhead .search_box {
  font-size: 10pt;
  float: left;
	padding: 0px 0px 10px 10px;
}

#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
}
#search .form-text {
  width: 8em;
  height: 1.4em;
  padding: 0 0.5em 0 0.5em;
  margin: 0 0 0.5em 0;
}
#search .form-submit {
  height: 1.5em;
}

* html #search .form-submit {
  margin-bottom: 8px;
}
#mission {
  padding: 1.5em 2em;
	color: #ad4c21;
  border: 1px dashed ;
  margin: 0px 10px 0px 10px;
}

.site-slogan {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  float: left;
  padding: 5px 0 0 30px;
}

#body_wrapper {
  background: url(images/body_cont.jpg) repeat-y top left;
	margin: 0px auto;
	width: 747px;
	display: block;
}


#body {
  background: url(images/body_top.jpg) no-repeat top left;
	float: left;
	padding: 10px 20px 0px 20px;
	min-height: 343px;
	display: block;
}

#end_body {
  background: url(images/footer.jpg) no-repeat top left;
	margin: 0px auto;
	width: 747px;
	height: 37px;
	display: block;
}

.clearer {
  clear: both;
	height: 1px;
}

#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 0px 10px 0 10px;
}

#main .title {
  color: #D96B11;
}

#mission, .node .content, .comment .content {
  line-height: 1.4;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#footer {
  padding: 1em;
  font-size: 0.8em;
}

#all
{
  width: 707px;
	float: left;
	padding: 0px;
	background: url(images/all_middle.gif) repeat-y top left;
}

#all .top
{
  background: url(images/all_top.gif) no-repeat top left;
	width: 707px;
	height: 18px;
	padding: 0px;
	margin: 0px;
}

#all .bottom
{
  background: url(images/all_bottom.gif) no-repeat bottom left;
	width: 707px;
	height: 21px;
	padding: 0px;
	margin: 0px;
  /* not sure why but this corrects the left_middle.gif from having 1 px uncovered */
  margin-bottom: -1px;
  padding-bottom: -1px;
}

#left {
  width: 538px;
	float: left;
	padding: 0px;
	margin: 0px;
	background: url(images/left_middle.gif) repeat-y top left;
}

#left .top {
  background: url(images/left_top.gif) no-repeat top left;
	width: 538px;
	height: 18px;
	padding: 0px;
	margin: 0px;
}

#left .bottom {
  border: none;
  background: url(images/left_bottom.gif) no-repeat bottom left;
	width: 538px;
	height: 21px;
	padding: 0px;
	margin: 0px;
  /* not sure why but this corrects the left_middle.gif from having 1 px uncovered */
  margin-bottom: -1px;
  padding-bottom: -1px;
}

#right {
  width: 169px;
	float: right;
	padding: 0px;
	margin: 0px;
	background: url(images/right_middle.gif) repeat-y top left;
}

#right .top {
  background: url(images/right_top.gif) no-repeat top left;
	padding: 0px;
	margin: 0px;
	width: 169px;
	height: 18px;
}

#right .bottom {
  background: url(images/right_bottom.gif) no-repeat bottom left;
	padding: 0px;
	margin: 0px;
	width: 169px;
	height: 21px;
  /* not sure why but this corrects the left_middle.gif from having 1 px uncovered */
  margin-bottom: -1px;
  padding-bottom: -1px;
}

.content {
  padding: 0px 15px;
}

#footer {
  margin: 0 auto; 
	width: 747px;
	text-align: center;
	color: #B05128;
	font-weight: bold;
}

#footer a {
 color: #B05128;
}

#right ul a {
	background: #c7b8a4;
	color: #000;
	text-decoration: none;
	margin: 0px;
	border: 0px;
}

#right ul a:hover {
	color: #FFFFFF;
	background: #822C0F;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 auto 0 auto;  /* decrease default margins for h<x>.title */
  text-transform: capitalize;
}
.submitted {
  color: #999;
  padding-top: .5em; /* to match term */
  font-size: 0.8em;
}
.links {
  color: #999;
  float: right;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 0 0;
}
.block .title {
  margin-left: 1em;
  margin-bottom: .25em;
	color: #333;
	background-color: transparent;
	font-size: 1.3em;
	font-weight: bold;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 3em 0;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding: .5em 0 .5em 1.5em;
  float: right;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
  padding-bottom: 2em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
.calendar a {
  text-decoration: none;
}
.calendar td, .calendar th {
  padding: 0.4em 0;
  border-color: #888;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}

/* My pager stuff */
.pager-top {
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
}

.page-middle {
  text-align: center;
  vertical-align: top;
  clear: none;
  position: relative;
  width: 100%;
  font-size: .8em;
  z-index: 0;
  top: 0;
}

.pager-prev {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  font-size: .8em;
  z-index: 2;
}

.pager-next {
  text-align: right;
  position: absolute;
  right: 0;
  float: right;
  font-size: .8em;
  z-index: 1;
}

.page-num {
  padding-left: .5em;
  padding-right: .5em;
}

* html .pager-next {
  margin-right: 25px;
}

.block ul {
  text-align: left;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.menu {
  margin: 0;
  padding-left: 1.5em;
}

